[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mathjaxr"]
	path = mathjaxr
	url = https://github.com/wviechtb/mathjaxr
[submodule "metadat"]
	path = metadat
	url = https://github.com/wviechtb/metadat
[submodule "metafor"]
	path = metafor
	url = https://github.com/wviechtb/metafor
[submodule "plotannotate"]
	path = plotannotate
	url = https://github.com/wviechtb/plotannotate
